@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


* {
  font-family: Outfit, sans-serif;
}

@theme {
  --breakpoint-xs: 380px;
  --breakpoint-xxs: 220px;

  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001F;
  --color-secondary: #3cea19;
  --color-primarylight: #ff388b;
  --color-secondarylight: #ff388b;
  --color-secondarydark: #3cea19;
  --color-secondarydarklight: #232329;

  --shadow-shadowblack: 4px 4px 0 #000000;
  --shadow-shadowwhite: 4px 4px 0 #ffffff;

  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;

  --grid-auto: repeat(auto-fit, minmax(200px, 1fr));
}

/* @layer base {
  h1 {
    @apply text-3xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-[66px];
  }

  h2 {
    @apply text-3xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-[66px];
  }
} */

/* @layer components {
  .h2 {
    font-size: ; text-3xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-[66px];
  }
} */
@layer utilities {
  .h2 {
    @apply text-2xl xxs:text-4xl xs:text-5xl xl:text-[66px] font-medium leading-[1];
  }

  .h3 {
    @apply text-2xl sm:text-3xl font-medium leading-[1];
  }

  .h4 {
    @apply text-xl sm:text-2xl font-medium leading-[1];
  }

  .h5 {
    @apply text-lg sm:text-xl font-medium leading-[1];
  }

  .container {
    @apply w-full max-w-[1200px] 2xl:max-w-[1400px] mx-auto px-[3%];
  }

  .nav-container {
    @apply w-full max-w-[1400px] 2xl:max-w-[1600px] mx-auto px-[3%];
  }
}