@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


* {
  font-family: Outfit, sans-serif;
}

@theme {
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001F;
  --color-secondary: #4b0f6c;
  --color-secondaryhover: #5c1a7f;
  --color-secondarydark: #3c0b5a;
  --color-secondarydarkhover: #4b0f6c;
  --color-secondarylight: #6c1f8f;
  --color-secondarylighthover: #7f2a9f;
  --color-tertiary: #bbf451;


  --shadow-shadowblack: 4px 4px 0 #000000;
  --shadow-shadowwhite: 4px 4px 0 #ffffff;

  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;

  --grid-auto: repeat(auto-fit, minmax(200px, 1fr));
}
